---
title: Templates
slug: templates
date: 0003/01/01
number: 3
contents: Learn about Meteor's templating language, Handlebars.|Create your first three templates.|Learn how Meteor managers work.|Get a basic prototype working with static data.
paragraphs: 46
---

Meteorでの開発を簡単にするため、私たちはアウトサイドインアプローチをとることになります。
つまり、私たちは最初に　「」　HTMLとJavaScriptで外側の骨組みを作り、それからアプリが内側で動くように繋いでいきます。

この章では、 /clientディレクトリの内側で何が起きているのか　気にかけるだけとなります。

/clientディレクトリの中に main.htmlという新しいファイルを作りましょう。
そして次のようなコードを書き込みましょう。

~~~html
<head>
  <title>Microscope</title>
</head>
<body>
  <div class="container">
    <header class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Microscope</a>
      </div>
    </header>
    <div id="main" class="row-fluid">
      {{> postsList}}
    </div>
  </div>
</body>
~~~
<%= caption "client/main.html" %>

これがアプリのメインテンプレートとなります。
ご覧のように、{{> postsList}}タグ以外は全てHTMLです。
{{> postsList}}タグはpostsListテンプレートの挿入場所となります。
では、テンプレートを作っていきましょう。

### Meteorテンプレート

ソーシャルニュースサイトは一覧表となった投稿によって作られています。
そうなるようにテンプレートを作っていきす。

 /clientの中に/viewsディレクトリを作りましょう。
 /viewsディレクトリの中に全てのテンプレートを置くことになります。
 /viewsの中を整理するため、投稿に関連したテンプレートはviews内に/postsを作ります。
 

<% note do %>

### ファイルを見つける

Meteorはファイルを見つけることに優れています。
/clientディレクトリにコードを入れれば、Meteorはそれを見つけて正確にコンパイルしてくれます。
つまり、JavaScriptやCSSへのインクルードパスを手動で書く必要がなくなるということです。

////

<% end %>

////

~~~html
<template name="postsList">
  <div class="posts">
    {{#each posts}}
      {{> postItem}}
    {{/each}}
  </div>
</template>
~~~
<%= caption "client/views/posts/posts_list.html" %>

////

~~~html
<template name="postItem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
    </div>
  </div>
</template>
~~~
<%= caption "client/views/posts/post_item.html" %>

////

////

////

////

////

<% note do %>

### Going Further

////

<% end %>

////

////

////

////

////

### Template Managers

////

////

////

<% note do %>

### Managers?

////

////

////

<% end %>

////

~~~js
var postsData = [
  {
    title: 'Introducing Telescope',
    author: 'Sacha Greif',
    url: 'http://sachagreif.com/introducing-telescope/'
  }, 
  {
    title: 'Meteor',
    author: 'Tom Coleman',
    url: 'http://meteor.com'
  }, 
  {
    title: 'The Meteor Book',
    author: 'Tom Coleman',
    url: 'http://themeteorbook.com'
  }
];
Template.postsList.helpers({
  posts: postsData
});
~~~
<%= caption "client/views/posts/posts_list.js" %>

////

<%= screenshot "3-1", "Our first templates with static data" %>

<%= commit "3-1", "Added basic posts list template and static data." %>

////

////

////

~~~html
<template name="postsList">
  <div class="posts">
    {{#each posts}}
      {{> postItem}}
    {{/each}}
  </div>
</template>
~~~
<%= caption "client/views/posts/posts_list.html" %>

////

### The Value of "this"

////

~~~js
Template.postItem.helpers({
  domain: function() {
    var a = document.createElement('a');
    a.href = this.url;
    return a.hostname;
  }
});
~~~
<%= caption "client/views/posts/post_item.js" %>

<%= commit "3-2", "Setup a `domain` helper on the `postItem`." %>

////

<%= screenshot "3-2", "Displaying domains for each links." %>

////

////

////

////

<% note do %>

### JavaScript Magic

////

////

////

<% end %>

////

<% note do %>

### Hot Code Reload

////

////

////

<% end %>
